@font-face {
    font-family: 'Satoshi (Local)';
    src: url("../fonts/Satoshi-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi (Local)';
    src: url("../fonts/Satoshi-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi (Local)';
    src: url("../fonts/Satoshi-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

:root {
    --primary-blue: #2541EF;
    --primary-muted: rgba(37, 65, 239, 0.1);
    --primary-light-muted: rgba(37, 65, 239, 0.05);
    --black: #000;
    --white: #fff;
    --lightest-grey: #E8EAEC;
    --light-hover-grey: #e6e6e6;
    --lighter-grey: #D3D7D9;
    --light-grey: #ccc;
    --dark-grey: rgba(0,0,0, 0.5);
}

[data-theme = "dark"] {
    --black: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: var(--black);
}

html, body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Satoshi (Local)', Arial, sans-serif;
    font-weight: 400;
    background-color: var(--lightest-grey);
    color: var(--black);
    margin: 0;
    padding: 0;
    display: flex;
    overflow-x: hidden;
}

main {
    flex: 1;
    padding-left: 124px;
    width: calc(100% - 124px);
    min-height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 500;  
}

p {
    color: var(--dark-grey);
    font-size: 1rem;
    font-weight: 400;
}

.text-style-small {
    font-size: 12px;
    font-weight: 300;
}

.sb_section {
    min-height: 100vh;
    border-right: 1px solid var(--light-grey);
    box-sizing: border-box;
    flex-shrink: 0;
    color: var(--white);
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
}

.sb_container {
    height: 100%;
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sb_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 2.5rem;
    align-items: center;
}

.sb_logo_wrapper {
    width: 100%;
    height: auto;
}

.sb_logo {
    width: 50px;
    height: auto;
}

.sb_link_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.link_icon_wrapper {
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: var(--lighter-grey);
    border-radius: 20px;
    color: var(--black);
    cursor: pointer;
}

.link_icon_wrapper.background-dark-blue {
    background-color: var(--primary-blue);
    color: var(--white);
}

.link_icon_wrapper.active {
    background-color: var(--black);
    color: var(--white);
}

.sb_settings_box {
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: var(--black);
    border: 1px solid var(--white);
    cursor: pointer;
}

.sb_settings_box.light {
    background-color: var(--black);
    color: var(--white);
}

.page_wrapper {
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.dashboard_body_grid {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dashboard_body_cell {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.dashboard_article_grid {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 427px;
}

.category_box {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 40px;
    background-color: var(--white);
    width: 100%;
    height: 100%;
}

.category_icon_wrapper {
    display: flex;
    height: 60px;
    width: 60px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--lightest-grey);
}

.category_info_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.category_heading_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.heading_page_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 0;
}

.themen_category_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    width: 100%;
    gap: 0.5rem;
}

.category_btn_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.category_btn {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: var(--lightest-grey);
    border-radius: 50%;
}

.category_info_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 4rem;
}

.category_box_outline {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border-radius: 48px;
    border: 1px solid transparent;
    transition: border 0.1s ease-in-out;
    cursor: pointer;
}

.category_box_outline:hover {
    border: 1px solid var(--primary-blue);
}

.subcategories_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.subcategories_grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.subcategory_card {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid var(--light-grey);
    background-color: transparent;
}

.subcategory_card:hover {
    background-color: var(--light-hover-grey);
}

.subcategory_meta {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    background-color: var(--primary-light-muted);
    color: var(--primary-blue);
    border-radius: 40px;
}

.subcategory_meta_wrapper {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.subcategory_card_inner {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.breadcrumb {
    display: inline-flex;
    flex-direction: row;
    padding: 8px 12px;
    border: 1px solid var(--light-grey);
    border-radius: 40px;
    gap: 0.5rem;
    align-items: center;
    color: var(--dark-grey);
}

.text-breadcrumb {
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-grey);
    text-transform: uppercase;
}

.text-breadcrumb:hover {
    text-decoration: underline;
}