<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Study Flow{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
</head>
<body>

  {% include 'sidebar.html' %}

  <main>
    <div class="page_wrapper">
      {% block content %}{% endblock %}
    </div>
  </main>


  <script src="{{ url_for('static', filename = 'js/scripts.js') }}"></script>
</body>
</html>