<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Study Flow{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/articles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/markdown_preview.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$']],
          displayMath: [['$$', '$$']],
          packages: ['base', 'ams', 'noerrors', 'noundefined']
        },
        options: {
          ignoreHtmlClass: 'tex2jax_ignore',
          processHtmlClass: 'tex2jax_process'
        }
      };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    
</head>
<body>

  {% include 'sidebar.html' %}

  <main>
    <div class="page_wrapper">
      {% block content %}{% endblock %}
    </div>
  </main>


  <script src="{{ url_for('static', filename = 'js/scripts.js') }}"></script>
</body>
</html>