{% extends 'base.html' %}

{% block title %}Startseite{% endblock %}

{% block content %}

<div class="page_wrapper">
    <div class="heading_page_wrapper">
        <h1>Dashboard</h1>
    </div>
    <div class="dashboard_body_grid">
        <div class="dashboard_body_cell">

        </div>
        <div class="dashboard_body_cell">
            <h2>Neueste Themen</h2>

            {% if kategorien %}
                <div class="dashboard_article_grid">
                    {% for kategorie in kategorien %}

                        <div class="dashboard_article_box">

                            <div class="article_info_wrapper">
                                <div class="category_icon_wrapper" style="background-color: {{ kategorie.color }}">
                                    <span class="category_icon">{{ kategorie.icon|default('📚') }}</span> 
                                </div>

                                <div class="article_heading_wrapper">
                                    <h3>{{ kategorie.name }}</h3>
                                    <p class="text-style-small">{{ kategorie.updated_at.strftime('%d.%m.%Y') }}</p>
                                </div>
                            </div>

                            <p>{{ kategorie.description|default('Keine Beschreibung vorhanden.')|truncate(100) }}</p>

                        </div>

                    {% endfor %}
                </div>
            {% else %}
                <p>Keine Kategorien gefunden.</p>
            {% endif %}
        </div>
    </div>


</div>

{% endblock %}
