{% extends 'base.html' %}

{% block title %}Themen{% endblock %}

{% block content %}

<div class="breadcrumb">
    <a class="text-breadcrumb" href="{{ url_for('themen') }}">Themen</a>
    <svg width="6" height="16" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.70358 10L0.212456 1.27302C-0.0763979 0.976139 -0.0698938 0.50131 0.226984 0.212456C0.523862 -0.0763979 0.998691 -0.0698933 1.28754 0.226984L10.2875 9.47698C10.5708 9.76813 10.5708 10.2319 10.2875 10.523L1.28754 19.773C0.998691 20.0699 0.523862 20.0764 0.226984 19.7875C-0.0698938 19.4987 -0.0763979 19.0239 0.212456 18.727L8.70358 10Z" fill="currentColor"/>
    </svg>    
    <a class="text-breadcrumb" href="{{ url_for('kategorie_anzeigen', kategorie_id=subkategorie.category_id) }}">{{ subkategorie.category.name }}</a>
</div>

<div class="heading_page_wrapper">
    <h1>Themenbereiche</h1>
    <div class="link_icon_wrapper background-dark-blue">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 0C12.4539 0 12.8219 0.367985 12.8219 0.821918V11.1781H23.1781C23.632 11.1781 24 11.5461 24 12C24 12.4539 23.632 12.8219 23.1781 12.8219H12.8219V23.1781C12.8219 23.632 12.4539 24 12 24C11.5461 24 11.1781 23.632 11.1781 23.1781V12.8219H0.821918C0.367985 12.8219 0 12.4539 0 12C0 11.5461 0.367985 11.1781 0.821918 11.1781H11.1781V0.821918C11.1781 0.367985 11.5461 0 12 0Z" fill="currentColor"/>
        </svg>    
    </div>
</div>

{% if artikel %}
<div class="subcategories_list">
    <div class="subcategories_grid">
        {% for art in artikel %}
            <a href="{{ url_for('artikel_anzeigen', artikel_id=art.id) }}" class="subcategory_card">
                <div class="subcategory_card_inner">
                    <h3>{{ art.title }}</h3>
                    <div class="subcategory_meta_wrapper">
                        {% if art.author %}
                        <div class="subcategory_meta">
                            <span class="text-style-small">{{ art.author }}</span>
                        </div>
                        {% endif %}
                        <div class="subcategory_meta">
                            <span class="text-style-small">{{ art.updated_at.strftime('%d.%m.%Y') }}</span>
                        </div>
                    </div>
                    <p>{{ art.description|default('Keine Beschreibung vorhanden.')|truncate(100) }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="empty_state">
    <p>Keine Subkategorien in dieser Kategorie gefunden.</p>
</div>
{% endif %}

<div id="newArticlePopup" class="popup_overlay">
    <div class="popup_container popup_container_large">
        <div class="popup_header">
            <h3>Neuen Artikel erstellen</h3>
            <div class="popup_close" data-popup-target="newArticlePopup">
                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24 2.4L21.6 0L12 9.6L2.4 0L0 2.4L9.6 12L0 21.6L2.4 24L12 14.4L21.6 24L24 21.6L14.4 12L24 2.4Z" fill="currentColor"/>
                </svg>
            </div>
        </div>
        <form action="{{ url_for('artikel_erstellen', subkategorie_id=subkategorie.id) }}" method="post" class="popup_form">
            <div class="form_field">
                <label for="article_title">Titel des Artikels</label>
                <input type="text" id="article_title" name="title" required>
            </div>
            <div class="form_field">
                <label for="article_description">Kurzbeschreibung</label>
                <textarea id="article_description" name="description" rows="2" class="no-resize"></textarea>
            </div>
            <div class="form_field">
                <label for="article_author">Autor (optional)</label>
                <input type="text" id="article_author" name="author">
            </div>
            <div class="form_field">
                <label for="article_content">Inhalt (Markdown)</label>
                <textarea id="article_content" name="content"></textarea>
            </div>
            <div class="form_actions">
                <button type="button" class="btn btn_secondary" data-popup-target="newArticlePopup">Abbrechen</button>
                <button type="submit" class="btn btn_primary">Erstellen</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}